

/* Small devices (tablets, 768px and up) */
// iPhone 6 and Galaxy 5-6 landscape
@media screen and (min-width: 639px) {
  .main {
    header {
      .home-jumbotron {
        margin: 7% 0 0 0;
      }
      .navbar-default {
        #navigationNavbar {
          background: #ffffff;
        }
        .navbar-nav {
          margin: 0;
          box-shadow: none;
          padding: 0;
        }
      }
    }
  } // end main


  .postContent {
    .productionButtonDiv,
    .codeButtonDiv {
      width: 48%;
    }
    .squareButtonPrimaryColor a {
      line-height: 175%;
      height: 2.25em;

    }
  } // end postContent

  .school {
    h2 {
      font-size: 1.25em;
      padding: .25em;
      text-align: left;
    }
    p {
      text-align: left;
      padding: .25em;
    }
  }
} // end Small devices

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
  .main {
    header {
      .home-jumbotron {
        margin: 4% 0 0 0;
      }
    }
  } // end main
  .homePage {
    .squareButtonPrimaryColor {
      margin: 10% 0 35%;
    }
  } // end homePage
  .about {
    #contactPageSocialIcons {
      font-size: 2em;
    }
  }
} // end media medium

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main {
    header {
      .home-jumbotron {
        margin: 1% 0 0 0;
      }
    }
  } // end main

  .school {
    h2 {
      font-size: 1.75em;
    }
  } // end school
}