

/* Small devices (tablets, 768px and up) */
// iPhone 6 and Galaxy 5-6 landscape
@media screen and (min-width: 639px) {
  body.home {
    .homePageThreeFeatures {

      .homePageThreeFeaturePiece {

      }
      .homeAboutThisSite {

        h2 {
          font-size: 2em;
          margin-bottom: 1%;
        }
      }
    }
  } // end body.home

  .main {
    header {
      .home-jumbotron {
        margin: 7% 0 0 0;
      }
      .navbar-default {
        #navigationNavbar {
          background: #ffffff;
        }
        .navbar-nav {
          margin: 0;
          box-shadow: none;
          padding: 0;
        }
      }
    }
  } // end main


  .postContent {
    .productionButtonDiv,
    .codeButtonDiv {
      width: 48%;
    }
    .squareButtonPrimaryColor a {
      line-height: 175%;
      height: 2.25em;

    }
  } // end postContent

  body.school,
  body.school-projects,
  body.featured,
  body.websites {
    h2 {
      font-size: 1.25em;
      padding: .25em;
      text-align: left;
    }
    p {
      text-align: left;
      padding: .25em;
    }
  } // end school / featured / websites

  .codeButtonDiv {
    margin-bottom: 0;
  }

} // end Small devices

/* small devices (desktops, 768px and up) */
@media (min-width: 768px) {
  .main {
    header {
      .home-jumbotron {
        margin: 4% 0 0 0;
      }
    }
  } // end main
  body.home {
    .squareButtonPrimaryColor {
      margin: 10% 0 35%;
    }
    .homeAboutThisSite {
      padding-top: 3%;
      padding-bottom: 2%;
      .aboutThisSiteIcons {
        width: 100%;
      }
    }
  } // end homePage
  .about {
    #contactPageSocialIcons {
      font-size: 2em;
    }
  }
  footer {
    margin: 0;
  }

} // end media medium

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main {
    header {
      .home-jumbotron {
        margin: 1% 0 0 0;
      }
    }
  } // end main

  body.school,
  body.school-projects,
  body.featured,
  body.websites {
    h2 {
      font-size: 1.75em;
    }
  } // end school / featured / websites

} // end large