button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 1em;
}
button:hover, button:focus {
  color: #fff;
  outline: 0;
}

.squareButtonPrimaryColor {
  position: relative;
  margin: 5% 0 15% 0;
  font-family: $font-stack;
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid $main-teal;
    height: 2.8em;
    width: 10em;
    padding: 0;
    outline: none;
    overflow: hidden;
    color: $main-teal;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    line-height: 250%;
  }
  a:before {
    content: "";
    position: absolute;
    background: $main-teal;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top .15s ease-in;
  }
  a:hover {
    color: #fff;
  }
  a:hover:before {
    top: 0;
  }
}
.codeButtonDiv {
  margin-bottom: 3%;
}


// for the share Socials plugin
share-button {
  font-size: 1.25em;
  display: table;
  /* text-align: center; */
  margin: 0 auto;
  vertical-align: middle;
}






