button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 1em;
}
button:hover, button:focus {
  color: #fff;
  outline: 0;
}
.squareButtonPrimaryColor{
  border: 3px solid $main-teal;
  color: $main-teal;
  background-image: -webkit-linear-gradient(top, transparent 50%, $main-teal 50%);
  background-image: linear-gradient(to bottom, transparent 50%, $main-teal 50%);
  background-position: 0 0;
  background-size: 200%;
  -webkit-transition: background 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
  width: 50%;
  margin: 0 auto;
  display: block;
  font-family: $font-stack;
  &:hover {
    color: #fff;
    background-position: 0 100%;
  }
  a {
    color: $main-teal;
    padding: 1em;
  }
  a:hover {
    color: #fff;
  }
}




