$RGBA90Black: rgba(0,0,0,.90);

// fonts
@font-face {
  font-family: "Playfair Display";
  src: url('../fonts/PlayfairDisplay-Regular.otf');
}

//General
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
body {
  font-size: 16px;
}
h1 {
  font-family: $font-stack;
  font-size: 3em;
}
h2 {
  font-family: $font-stack;
  font-size: 2.5em;
}
li {
  list-style-type: none;
}

// Helper clases
.displayNone {
  display: none;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}


//Bootstrap Overrides
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-toggle {
  margin-top: 12px;
}

// font-awesome overrides


// for the code snippets
/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
  background-color: #000;
  border: none;
}

pre.prettyprint {
  width: 95%;
  margin: 0 auto 1em;
  padding: 1em;
  white-space: pre-wrap;

}
// removes the first and last span for which aligns with the top left of the page Nomad
#tabCodeContent > div > div > pre > span.pln,
#tabCodeContent > div > div > pre > span.com {
  display: none;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}

/*---mixins--*/
// taken from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
// adding card like look for posts and code viewer
@mixin whiteCard($padding, $margin) {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  padding: $padding;
  margin: $margin;
}
.whiteCard {
  @include whiteCard(.5% 2%, 2% auto);
}
