// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

//Custom Colors
$main-teal: rgba(60, 192, 204, 1);
$main-teal-light: rgba(60, 192, 204, .5);
$secondary-purple: #AD0079;

// fonts
$font-stack: "Playfair Display", Arial, Hevetica, sans-serif;
