


// Home Page

.home .font-stack  {
    font-size: 4em;
    position: relative;
    .fa-circle {
      color: $main-teal;
    }
    span {
      position: static;
    }
}
.services-section {
  margin: 2% auto;
  background: $main-teal;
  h2 {
    font-family: $font-stack;
    color: #fff;
  }
  .font-stack {
    .fa-circle {
      color: #fff;
    }
    &:nth-child(1) {
      color: $main-teal;
    }
  }

} // services-section