
// Pages general
//.postThumb {
//  @include aspect-ratio(16, 9);
//}


// Home Page
body.home {
  .font-stack  {
    font-size: 3em;
    position: relative;
    .fa-circle {
      color: $main-teal;
    }
    span {
      position: static;
    }
  }
  header .jumbotron img {
    opacity: 0;
  }
  .homeHeaderSVGDiv {
    .container {
      margin: 12% auto;
      #homePageHeaderHexagon,
      #homePageHeaderTriangle {
        opacity: 0;
        fill: transparent;
        stroke:#fff;
        stroke-width: 10;
        stroke-miterlimit: 10;

      }
      .headerMysticTextPath {
        fill: transparent;
        stroke-miterlimit: 10;
      }
    }
  }
  .homePage {
    margin: 2% auto 0;
  }
  .homeAnimationArea {
    margin: 1px auto;
    padding: 5% 0;
    background: $secondary-purple;
    h2 {
      font-family: $font-stack;
      color: #fff;
    }
    .font-stack {
      .fa-circle {
        color: #fff;
      }
      &:nth-child(1) {
        color: #fff;
      }
    }
    .hexagon {
      fill: transparent;
      stroke: #fff;
      stroke-width: 10;
      stroke-miterlimit: 10;
    }
    .line {
      fill: transparent;
      stroke: #fff;
      stroke-width: 10;
      stroke-miterlimit: 10;
    }
    .bulletPoints {
      opacity: 0;
    }
    .subLine {
      opacity: 0;
    }

    .wordpressDevelopmentPath,
    .UIDevelopmentPath,
    .webDevelopmentPath,
    .dreamNotOfTodayPath {
      //fill-opacity: 0;
      fill: transparent;
    }

    #homeSVGPolygons,
    #homeSVGLines,
    #homeSVGText {
      font-family: $font-stack;
      fill: transparent;
    }
    #headerTriangle {
      opacity: 0;
    }
    #headerLargeHexagon {
      opacity: 0;
    }
    #headerSmallHexagon {
      opacity: 0;
    }
  } // homeAnimationArea

  .homeAboutThisSite {
    P {
      text-align: center;
      font-size: 1.25em;
    }
    a {
      @include underlineText();
      &:after {
        @include underlineTextAfter(.5s);
      }
      &:hover:after {
        @include underlineTextHoverAfter();
      }
    }
  } // end .homeAboutThisSite

  .homePageThreeSVG {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    margin: auto;
  }

  .homePageExploreDiscoverCodeSection {
    .homePageExploreDiscoverCode {
      margin: 1px auto;
      position: relative;
      height: 30vh;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
      .homePageExploreDiscoverCodeExplorePath,
      .homePageExploreDiscoverCodeDiscoverPath,
      .homePageExploreDiscoverCodeCodePath {
        fill: transparent;
        //stroke: #fff;
        stroke-width: 2;
        stroke-miterlimit: 10;
      }
    } // end homePageExploreDiscoverCode
    .exploreDiscoverCodeExploreGroup {
      background: rgba(60, 192, 204, 0.61);
    }
    .exploreDiscoverCodeDiscoverGroup {
      background: $main-teal;
    }
    .exploreDiscoverCodeCodeGroup {
      background: rgba(60, 192, 204, 0.61);
    }
  } // end homePageExploreDiscoverCodeSection


  .homePageThreeFeatures {
    .homePageThreeFeaturePiece {
      margin: 1px auto;
      position: relative;
      height: 30vh;
      text-align: center;
      padding-right: 0;
      padding-left: 0;

      .homePageFeaturedSectionsWebsitesPath,
      .homePageFeaturedSectionsSchoolPath,
      .homePageFeaturedSectionsFeaturedPath {
        fill: transparent;
        stroke: #fff;
        stroke-width: 2;
        stroke-miterlimit: 10;
      }
      &:after {
        content: "";
        display: block;
        //padding-bottom: 100%;
      }
    } // end homePageThreeFeaturePiece
    // featured Div
    > div > div > a:nth-child(1) > div {
      background: rgba(60, 192, 204, 0.61);
      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 30vh;
        width: 0px;
        background: transparent;
        transition: width 1s ease, background-color 1s ease;
      }
      &:hover:after {
        width: 100%;
        background: $main-teal;
      }
    } // end Featured Projects

    // School Projects Div
    > div > div > a:nth-child(2) > div {
      background: $main-teal;
      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 30vh;
        width: 0px;
        background: transparent;
        transition: width 1s ease, background-color 1s ease;
      }
      &:hover:after {
        width: 100%;
        background: rgba(0, 147, 160, 1);
      }
    } // end School Projects

    // freelance Projects Div
    > div > div > a:nth-child(3) > div {
      background: rgba(60, 192, 204, 0.61);
      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 30vh;
        width: 0px;
        background: transparent;
        transition: width 1s ease, background-color 1s ease;
      }
      &:hover:after {
        width: 100%;
        background: $main-teal;
      }
    } // end freelance Projects
  } //  end homePageThreeFeatures

  // New home page square animations under "Dream not of Today" SVG
  //.homePageThreeSections {
  //  .square {
  //    width: 100%;
  //    background: red;
  //    position: relative;
  //  }
  //  .homePageWebsiteSectionLinks {
  //    position: absolute;
  //    width: 100%;
  //    height: 100%;
  //    .sectionLinks {
  //      position: relative;
  //    }
  //  }
  //  .square:after {
  //    content: "";
  //    display: block;
  //    padding-bottom: 100%;
  //  }
  //}
} // end homePage

// featured post page
body.featured {
  h2 {
    font-size: 2em;
    padding: .25em;
    text-align: center;
  }
  p {
    text-align: center;
    padding: .25em;
  }
  .entry-content {
    //border: solid 1px rgba(233, 233, 233, 0.9);
    display: table;
    margin-bottom: 30px;
    overflow: hidden;
    width: 90%;
  }
  .postContent {
    //padding-left: 15px;
  }
  .postThumb {
    padding-right: 0;
    padding-left: 0;
  }
}

// school-projects project post page
body.school {
  h2 {
    font-size: 2em;
    padding: .25em;
    text-align: center;
  }
  p {
    text-align: center;
    padding: .25em;
  }
  .entry-content {
    display: table;
    margin-bottom: 30px;
    overflow: hidden;
    width: 90%;
  }
  .postContent {
    //padding-left: 15px;
  }
  .postThumb {
    padding-right: 0;
    padding-left: 0;
  }
}
body.school-projects {
  h2 {
    font-size: 2em;
    padding: .25em;
    text-align: center;
  }
  p {
    text-align: center;
    padding: .25em;
  }
  .entry-content {
    display: table;
    margin-bottom: 30px;
    overflow: hidden;
    width: 90%;
  }
} // end school-projects

// Freelance Websites
body.websites {
  h2 {
    font-size: 2em;
    padding: .25em;
    text-align: center;
  }
  p {
    text-align: center;
    padding: .25em;
  }
  .entry-content {
    display: table;
    margin-bottom: 30px;
    overflow: hidden;
    width: 90%;
  }
} // end websites

// individual Page
body.individual {
  #tabCodeContent {
    .tab-content {
      background: #000;
    }
  }
  #activeIndividualFileInView {
    color: indigo;
  }
}

// Contact the nomad
body.about {
  #contactPageSocialIcons {
    font-size: 1.5em;
    margin: 2% 0;
    .socialIconBox,
    .fa-stack-1x,
    .fa-stack-2x {
      color: transparent;
      transition: color 1s;

      &:hover {
        .fa-stack-1x {
          color: $secondary-purple;
        }
        .fa-stack-2x {
          color: #fff;
        }
      }
      .fa-stack-1x {
        color: #fff;
        //transition: color 1s linear;
        //&:hover > .fa-stack-2x {
        //  color: $main-teal-light;
        //}
      }
      .fa-stack-2x {
        color: $secondary-purple;
      }
    } // end socialIconBox
  }
} // End Contact the nomad